@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Mochiy Pop P One', sans-serif; }

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: orange;
  width: 100%;
  top: 0%; }

header {
  grid-area: header;
  background-color: orange;
  color: purple;
  text-align: center; }

/*referencias*/
.Referencias {
  width: 600px;
  background-color: rgba(255, 174, 0, 0.733);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px; }
  .Referencias .encuesta {
    color: purple;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .Referencias .pregunta1 {
    margin-left: 30px;
    color: black; }
  .Referencias .pregunta2 {
    margin-left: 30px;
    color: black; }
  .Referencias .pregunta3 {
    margin-left: 30px;
    color: black; }
  .Referencias .respuesta1 {
    text-align: center;
    color: green; }
  .Referencias .respuesta {
    color: red; }
  .Referencias .respuesta3 {
    color: #471eff; }
  .Referencias .boton {
    width: 150px;
    background-color: orangered;
    color: azure;
    margin-left: 10px; }

.creditos {
  background-color: orange;
  color: #661666;
  height: 100px;
  text-align: center;
  bottom: 0%;
  width: 100%; }
  .creditos .redes {
    display: flex;
    list-style: none;
    justify-content: center; }
    .creditos .redes li {
      margin: 5px 10px; }
      .creditos .redes li .img_redes {
        width: 50px;
        height: 50px; }

.formulario {
  width: 600px;
  background-color: rgba(255, 174, 0, 0.733);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px; }
  .formulario .form-label {
    color: purple;
    font-size: 30px; }
  .formulario .btn {
    width: 300px;
    background-color: orangered;
    color: azure;
    margin-left: 100px;
    margin-top: 20px; }

@media (max-width: 564px) {
  .formulario {
    width: 100%; } }

.ubicacion {
  display: flex;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  color: purple;
  text-decoration: underline; }

.contenido {
  width: 100%;
  display: flex;
  justify-content: center; }

@media (max-width: 576px) {
  .ubicacion__maps {
    width: 100%;
    height: 350px; } }

.principal {
  height: 80vh; }

/*carta*/
.productos {
  color: blueviolet; }

.productos__frutas {
  grid-area: frutas;
  color: purple;
  margin-left: 30px; }

.productos__frutasLista {
  margin-left: 30px;
  list-style: none;
  color: #a200ff;
  text-align: center;
  font-size: 40px; }

.sugerencias {
  grid-area: sugerencias;
  color: purple; }

.sugerencias__lista {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: #ac10ac; }
  .sugerencias__lista .sugerencias__nombres {
    text-decoration: underline;
    color: chartreuse;
    font-size: 30px; }
  .sugerencias__lista .sugerencias__diferentes {
    list-style: none;
    text-align: center;
    font-size: 25px; }

.especiales {
  grid-area: especiales;
  display: flex;
  color: purple;
  margin-left: 30px; }

.especiales__lista {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: #9900ff;
  align-self: end; }
  .especiales__lista .especiales__nombres {
    color: red;
    text-decoration: underline;
    font-size: 30px; }
  .especiales__lista .especiales__diferentes {
    list-style: none;
    text-align: center;
    font-size: 25px; }

/*transformaciones*/
.img-thumbnail:hover {
  cursor: pointer;
  transition: all .25s ease-in-out; }

.img-thumbnail1:hover {
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.img-thumbnail2 {
  transition: height 2s; }

.img-thumbnail2:hover {
  cursor: pointer;
  height: 500px; }

/*ubicacion*/
