@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Mochiy Pop P One', sans-serif; }

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: orange;
  width: 100%;
  top: 0%; }

header {
  margin-bottom: 50px;
  height: 110px;
  background-color: orange;
  color: #474047;
  text-align: center; }
  header .titulo {
    margin-bottom: 10px; }

/*referencias*/
.Referencias {
  width: 600px;
  background-color: rgba(255, 174, 0, 0.733);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  overflow: hidden; }
  .Referencias .encuesta {
    color: purple;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .Referencias .pregunta1 {
    margin-left: 30px;
    color: black; }
  .Referencias .pregunta2 {
    margin-left: 30px;
    color: black; }
  .Referencias .pregunta3 {
    margin-left: 30px;
    color: black; }
  .Referencias .respuesta1 {
    text-align: center;
    color: green; }
  .Referencias .respuesta {
    color: red; }
  .Referencias .respuesta3 {
    color: #471eff; }
  .Referencias .boton {
    width: 150px;
    background-color: orangered;
    color: azure;
    margin-left: 10px; }

@media (max-width: 576px) {
  .Referencias {
    width: 100%; } }

.formulario {
  width: 600px;
  background-color: rgba(255, 174, 0, 0.733);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px; }
  .formulario .form-label {
    color: purple;
    font-size: 30px; }
  .formulario .btn {
    width: 300px;
    background-color: orangered;
    color: azure;
    margin-left: 100px;
    margin-top: 20px; }

@media (max-width: 564px) {
  .formulario {
    width: 100%; } }

.ubicacion {
  display: flex;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  color: purple;
  text-decoration: underline; }

.contenido {
  width: 100%;
  display: flex;
  justify-content: center; }

@media (max-width: 576px) {
  .ubicacion__maps {
    width: 100%;
    height: 350px; } }

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 60px 0;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

.titulos {
  color: gray;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px; }

.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly; }
  .contenedor-sobre-nosotros .imagen-about-us {
    width: 48%; }
  .contenedor-sobre-nosotros .contenido-textos {
    background-color: rgba(255, 166, 0, 0.74);
    width: 48%; }
    .contenedor-sobre-nosotros .contenido-textos .h2 {
      margin-bottom: 15px;
      text-align: center; }
    .contenedor-sobre-nosotros .contenido-textos .p-inicial {
      padding: 10px 10px 30px 15px;
      font-size: 20px;
      color: black;
      font-weight: 300;
      text-align: justify; }

.portafolio {
  background-color: rgba(255, 166, 0, 0.74); }
  .portafolio .titulo {
    text-align: center;
    padding: 20px;
    color: #474047; }
  .portafolio .galeria__port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 230px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px; }
    .portafolio .galeria__port .imagen__port {
      display: flex;
      height: auto;
      overflow: hidden;
      position: relative; }
      .portafolio .galeria__port .imagen__port .img__inicio {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }

@media (max-width: 576px) {
  .contenedor-sobre-nosotros {
    width: 100%; } }

.container-footer-principal {
  background-color: orange;
  width: 100%;
  padding: 40px 0;
  color: #661666;
  height: 250px; }
  .container-footer-principal .footer {
    max-width: 1200px;
    margin: auto; }
    .container-footer-principal .footer .logo-footer {
      text-align: center; }
      .container-footer-principal .footer .logo-footer .img {
        width: 100px; }
    .container-footer-principal .footer .redes-footer {
      display: flex;
      justify-content: center;
      margin-top: 20px; }
      .container-footer-principal .footer .redes-footer .icon-redes-footer {
        font-size: 40px;
        margin: 20px;
        width: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #fff; }
  .container-footer-principal .copyright {
    text-align: center;
    margin-top: 20px;
    font-weight: 500; }

.facebook {
  background-color: orange; }
  .facebook:hover {
    background-color: #41579A; }

.instagram {
  background-color: orange; }
  .instagram:hover {
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8); }

.container-footer-pages {
  background-color: orange;
  width: 100%;
  padding: 40px 0;
  color: #661666;
  height: 250px;
  margin-top: 40px; }
  .container-footer-pages .footer {
    max-width: 1200px;
    margin: auto; }
    .container-footer-pages .footer .logo-footer {
      text-align: center; }
      .container-footer-pages .footer .logo-footer .img {
        width: 100px; }
    .container-footer-pages .footer .redes-footer {
      display: flex;
      justify-content: center;
      margin-top: 20px; }
      .container-footer-pages .footer .redes-footer .icon-redes-footer {
        font-size: 40px;
        margin: 20px;
        width: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #fff; }
  .container-footer-pages .copyright {
    text-align: center;
    margin-top: 20px;
    font-weight: 500; }

.facebook {
  background-color: orange; }
  .facebook:hover {
    background-color: #41579A; }

.instagram {
  background-color: orange; }
  .instagram:hover {
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8); }

.principal {
  height: 80vh; }

/*carta*/
.productos {
  color: blueviolet; }

.productos__frutas {
  grid-area: frutas;
  color: purple;
  margin-left: 30px; }

.productos__frutasLista {
  margin-left: 30px;
  list-style: none;
  color: #a200ff;
  text-align: center;
  font-size: 40px; }

.sugerencias {
  grid-area: sugerencias;
  color: purple; }

.sugerencias__lista {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: #ac10ac; }
  .sugerencias__lista .sugerencias__nombres {
    text-decoration: underline;
    color: chartreuse;
    font-size: 30px; }
  .sugerencias__lista .sugerencias__diferentes {
    list-style: none;
    text-align: center;
    font-size: 25px; }

.especiales {
  grid-area: especiales;
  display: flex;
  color: purple;
  margin-left: 30px; }

.especiales__lista {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: #9900ff;
  align-self: end; }
  .especiales__lista .especiales__nombres {
    color: red;
    text-decoration: underline;
    font-size: 30px; }
  .especiales__lista .especiales__diferentes {
    list-style: none;
    text-align: center;
    font-size: 25px; }

/*transformaciones*/
.img-thumbnail:hover {
  cursor: pointer;
  transition: all .25s ease-in-out; }

.img-thumbnail1:hover {
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.img-thumbnail2 {
  transition: height 2s; }

.img-thumbnail2:hover {
  cursor: pointer;
  height: 500px; }

/*ubicacion*/
