.formulario{
    width: 600px;
    background-color:$fondo;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    .form-label{
        color: purple;
        font-size: 30px;

    }
    .btn{
    width: 300px;
    background-color: orangered;
    color: azure;
    margin-left: 100px;
    margin-top: 20px;

    }
    .youtube{
        justify-content: center;
        align-items: center;

    }
}
@media(max-width:564px){
    .formulario{
        width: 100%;
    }
    .btn{
    justify-content: center;
    align-items: center;
    }
    .youtube{
        width: 90%;
        overflow: hidden;
    }
}