/*referencias*/
.Referencias{
    width: 600px;
    background-color: $fondo;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    overflow: hidden;

    .encuesta{
        color: purple;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;}
    .pregunta1{
        margin-left: 30px;
        color: black;
        font-size: 25px;
    }
    
    
    .pregunta2 {    
        margin-left: 30px;
        color: black;
        font-size: 25px;
    }
    .pregunta3{
        margin-left: 30px;
        color: black;
        font-size: 25px;
    }
.respuesta1{
    text-align: center;
        color: green;
    }
    .respuesta{
        color: red;}
    .respuesta3{
        color: rgb(71, 30, 255);
    }
.boton{
    width: 150px;
    background-color: orangered;
    color: azure;
    margin-left: 10px;
}
}
@media (max-width:576px){
    .Referencias
    {width: 100%;
    }
}


